<a href="https://colab.research.google.com/github/ullola17/datos_masivos/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

datosOrigen.head()
datosOrigen.info()
datosOrigen.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,23.799293,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,17.596074,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,6.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,24.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Obtener los nombres de las columnas
nombres_columnas = datosOrigen.columns

# Imprimir los nombres de las columnas
print("Nombres de las columnas:")
for columna in nombres_columnas:
    print(columna)

Nombres de las columnas:
PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [ ]:
# Calcular el promedio de la columna
promedio = datosOrigen['Age'].mean()

round_promedio = round(promedio)

# Imprimir el resultado
print("El promedio de la columna 'Age' es:", round_promedio)

El promedio de la columna 'Age' es: 24

In [ ]:
#rellenamos los valores nulos de la edad con la edad promedio
datosOrigen['Age'].fillna(promedio, inplace=True)
#relleno los valores nulos de la cabina con 0
datosOrigen['Cabin'].fillna(0, inplace=True)

datosOrigen.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [ ]:
#hombres con hijos
# Filtrar las filas donde 'sex' sea igual a 'male' y 'parch' sea igual o mayor a 1
condicion = (datosOrigen['Sex'] == 'male') & (datosOrigen['Survived'] == 1) & (datosOrigen['Parch'] >= 1)

#Contar las filas que cumplen con la condición
cantidad_resultados = len(datosOrigen[condicion])

# Imprimir la cantidad de resultados
print("Cantidad de resultados con 'sex' igual a 'male' y 'parch' igual o mayor a 1:", cantidad_resultados)

Cantidad de resultados con 'sex' igual a 'male' y 'parch' igual o mayor a 1: 29

In [ ]:
#Personas que sobrevivieron por clase
#Clase 1
Clase1 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 1)
Cantiadad_Clase1= len(datosOrigen[Clase1])
print("Clase 1 =", Cantiadad_Clase1)

#Personas que sobrevivieron por clase
#Clase 2
Clase2 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 2)
Cantiadad_Clase2= len(datosOrigen[Clase2])
print("Clase 2 =", Cantiadad_Clase2)

#Personas que sobrevivieron por clase
#Clase 3
Clase3 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 3)
Cantiadad_Clase3= len(datosOrigen[Clase3])
print("Clase 3 =", Cantiadad_Clase3)

Clase 1 = 136
Clase 2 = 87
Clase 3 = 119

In [ ]:
#Personas que sobrevivieron por clase
#Clase 1
Clase1 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 1) & (datosOrigen['Sex'] == 'male')
Cantiadad_Clase1= len(datosOrigen[Clase1])
print("Clase 1 =", Cantiadad_Clase1)

#Personas que sobrevivieron por clase
#Clase 2
Clase2 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 2) & (datosOrigen['Sex'] == 'male')
Cantiadad_Clase2= len(datosOrigen[Clase2])
print("Clase 2 =", Cantiadad_Clase2)

#Personas que sobrevivieron por clase
#Clase 3
Clase3 = (datosOrigen['Survived'] == 1) & (datosOrigen['Pclass'] == 3) & (datosOrigen['Sex'] == 'male')
Cantiadad_Clase3= len(datosOrigen[Clase3])
print("Clase 3 =", Cantiadad_Clase3)

Clase 1 = 45
Clase 2 = 17
Clase 3 = 47